
@tailwind base;
@tailwind components;
@tailwind utilities;
.App {
  background: #F5F5F5;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

.logo {
  font-size: 44px;
  font-family: Mongolian Baiti;
}

.home.grid {
  grid-gap: 1rem;
  grid-template-columns: 1fr 4fr 1fr;
  grid-template-rows: 1fr 5fr 1fr;
  grid-template-areas:
  "header search seller"
  "sidebar main photos"
  "sidebar reviews photos";
}


@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  font-size: calc(10px + 2vmin);
}

.App-link {
  color: #61dafb;
}

.seller {
  background: #88C2BB;
  font-size: 19px;
  font-family: Gilroy;
}

.sidenav li{
  margin: 30px 0px;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}
